body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #cc99cc;
}

a {
  text-decoration: none;
  color: orange;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
