.plist-container {
  color: #cc99cc;
  display: flex;
  flex-direction: column;
}

.plist-products {
  padding: 0 10%;
}

.plist-sort {
  margin: 0 10% 5vh 10%;
  font-size: 1.5rem;
}

.plist-select {
  border: none;
  border-bottom: 1px solid pink;

  font-size: 1.5rem;
  margin-left: 20px;
  color: #cc99cc;
}
